<div class="mt-4">
    <form method="post">
    <div class="mb-3">
        <label  class="form-label">Search</label>
        <input name="key" class="form-control" placeholder="nhập từ khoá">
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

